clientWS/clientWS/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanckWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8787/?xsd=1"/>
</xsd:schema>
</types>
<message name="getComptes">
<part name="parameters" element="tns:getComptes"/>
</message>
<message name="getComptesResponse">
<part name="parameters" element="tns:getComptesResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="conversionEuroToD">
<part name="parameters" element="tns:conversionEuroToD"/>
</message>
<message name="conversionEuroToDResponse">
<part name="parameters" element="tns:conversionEuroToDResponse"/>
</message>
<portType name="BanckService">
<operation name="getComptes">
<input wsam:Action="http://ws/BanckService/getComptesRequest" message="tns:getComptes"/>
<output wsam:Action="http://ws/BanckService/getComptesResponse" message="tns:getComptesResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws/BanckService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://ws/BanckService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="conversionEuroToD">
<input wsam:Action="http://ws/BanckService/conversionEuroToDRequest" message="tns:conversionEuroToD"/>
<output wsam:Action="http://ws/BanckService/conversionEuroToDResponse" message="tns:conversionEuroToDResponse"/>
</operation>
</portType>
<binding name="BanckServicePortBinding" type="tns:BanckService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conversionEuroToD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanckWS">
<port name="BanckServicePort" binding="tns:BanckServicePortBinding">
<soap:address location="http://localhost:8787/"/>
</port>
</service>
</definitions>